.savePaperButton {
    text-transform: capitalize;
    background-color:var(--color-buttons);
    border: 1px solid gray;
    padding:5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    max-height: 30px;
    max-width: 130px;
    align-self: center;
    font-size: small;
    font-weight: bold;
    position: relative;
    top:10px;
    left: 15px;
}

.savePaperButton.saved {
    background-color:rgb(108, 159, 32);
    color: black;
    border: 1px solid darkolivegreen;
}

