@import './components/PapersList/PapersList.css';
@import './components/SaveButton/SaveButton.css';
@import './components/SelectAllButton/SelectAllButton.css';
@import './components/SelectButton/SelectButton.css';
@import './components/ShowCreatedProfileInfo/ShowCreatedProfileInfo.css';
@import './components/HighlightForm/HighlightForm.css';
@import './components/ShowHighlight/ShowHighlight.css';
@import './components/Paper/Paper.css';
@import './components/ShowEntryData/ShowEntryData.css';

:root {
    --color-std-text: black;
    --color-std-background: white;
    --color-halpha:rgb(255, 0, 0);
    --color-halpha-tp:rgba(255, 0, 0, 0.2);
    --color-hbeta:rgb(0, 239, 255);
    --color-hbeta-tp:rgb(0, 239, 255, 0.2);
    --color-hgamma:rgb(40, 0, 255);
    --color-hgamma-tp:rgb(40, 0, 255,0.2);
    --color-hdelta:rgb(126, 0, 219);
    --color-hdelta-tp:rgb(126, 0, 219,0.2);
    --width-window: 1200px;
    --width-favIcon:200px;
    --height-highlight: 330px;
}

*,
*::before,
*::after {
box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-width: var(--width-window);
    width: max-content;
    align-items: center;
    padding: 10px;
    /* margin: 10px; */



}
#__next {
    /* margin-right: 20px; */
    border: 1px solid black;
    border-radius: 10px;
    padding-right: 40px ;
}

button {
    text-transform: capitalize;
    background-color: lightgrey;
    border: 1px solid gray;
    padding:5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    margin: 5px;
}
textarea {
    resize: none;
}
a {
    text-decoration:none;
    color:var(--color-std-text)
}
ul {
    list-style: none;
}
li {
    margin: 5px;
}
 