@import './components/PapersList/PapersList.css';
@import './components/SaveButton/SaveButton.css';
@import './components/SelectAllButton/SelectAllButton.css';
@import './components/SelectButton/SelectButton.css';
@import './components/ShowCreatedProfileInfo/ShowCreatedProfileInfo.css';
@import './components/HighlightForm/HighlightForm.css';
@import './components/ShowHighlight/ShowHighlight.css';

:root {
    --color-std-text: black;
    --color-std-background: white;
    --color-halpha:rgb(175, 30, 66);
    --color-halpha-tp:rgba(175, 30, 66, 0.2);
    --color-hbeta:rgb(126, 26, 176);
    --color-hbeta-tp:rgb(126, 26, 176, 0.2);
    --color-hgamma:rgb(0, 49, 128);
    --color-hgamma-tp:rgb(0, 49, 128,0.2);

}

*,
*::before,
*::after {
box-sizing: border-box;
}

body {
    margin: 0;
    font-family: system-ui;
    width: 1200px;
}

button {
    text-transform: capitalize;
    background-color: lightgrey;
    border: 1px solid gray;
    padding:5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    margin: 5px;
}
textarea {
    resize: none;
}

ul {
    list-style: none;
}
li {
    margin: 5px;
}
