.ContentField {
    border:1px solid black;
}
.ContentField.toSave {
    border:2px dashed var(--color-hgamma);
    background-color: var(--color-hgamma-tp);
}

.ContentField_title {
    
}

.ContentField_mainText {

}