.highlightContainer {
    display: flex;
    flex-direction: column;
}

.highlight_mainContent {
    display: flex;
}

.highlight_title {
    align-self: center;
    text-align: center;
    width: 400px;
}

.highlight_mainText {
    text-size-adjust: none;
    max-height: 200px;
    max-width: 500px;

}
.highlight_favIcon {
    /* background-color: azure; */
    width: 100px;
    fill:white;
    /* fill:"#ff0000"; */
}
.highlight_favIcon.isFav {
    /* background-color: azure; */
    width: 100px;
    fill:var(--color-halpha)

    /* fill:"#ff0000"; */
}

.highlight_image {
    height: 200px;
}