.highlightContainer {
    display: flex;
    /* flex-direction: column; */
    /* min-width: 1100px; */
}

.highlight_mainContent {
    display: flex;
}
.highlight_titleContainer {
    
    text-align: center;
    height: var(--height-highlight);
    width: 300px;
    font-size: 1vw;
    border: 1px solid black;
}


.highlight_title {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    padding: 20px;
    line-height: 40px; 
}
.highlight_refLink {
    position: relative;
    /* right: 40px;
    top: 200px; */
}

.highlight_mainText {
    text-size-adjust: none;
    max-height: var(--height-highlight);
    max-width: 500px;

}
.highlight_image {
    height: var(--height-highlight);
}

/* fav button */
.highlight_favIcon {
    fill:white;
}
.highlight_favIcon:hover {
    fill:var(--color-hdelta-tp);
}
.highlight_favIconContainer {
    position: relative; 
    left: 140px;
    bottom: 25px;
}
.highlight_favIcon.isFav {
    fill:var(--color-hdelta);
}

