.highlightContainer {
    display: flex;
    flex-direction: column;
}

.highlight_mainContent {
    display: flex;
}

.highlight_title {
    align-self: center;
    text-align: center;
    width: 400px;
}

.highlight_image {
    max-height: 400px;
}