/* in PapersCollection: */
.paperOverviewList {
    display: flex;
    flex-wrap:wrap;
    gap: 30px;
    width: var(--width-window);
    justify-content: center;
}
.papersTitle {
    
}
/* in Papers: */
.papersList {
    list-style: none;
}

.papersSelectionButtonList {
    display: flex;
    gap: 10px;
    list-style: none;
}
.papersList-title {
    margin-left: 30px;
}

/* in SelectPapers: */
.papersSelectionList, .papersList {
    display: flex;
    flex-wrap:wrap;
    gap: 30px;
    width: var(--width-window);
    justify-content: center;
}

/* in Papers */
.paperContainer {
    width: 350px;
    border: 1px solid rgba(88, 88, 88, 0.926);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding-top: 20px;
    padding:20px 20px 10px ;
}
/* is this necessary? */
.paperContainer:hover {
    border: 1px solid var(--color-hbeta);
}

.paper_title {
    text-align: center;
    font-size: 0.5em;
}
.paper_authorsList {
    display: flex;
    font-size: 0.5em;
    flex-wrap: wrap;
    text-align: center;
    align-self: center;
    margin: 0;
    padding: 0;
    line-height: 1px;
}
.paper_abstract {
    font-size: xx-small;
    text-align: center;
}


.paper_links {
    display: flex;
    /* position: absolute; */
    position: relative;
    top: 8px;
    left: 150px;
}
.paper_link {
    font-size: 0.8em;
}
.paper_link:hover {
    color: var(h);
    border-bottom: 1px solid var(--color-hgamma);
}
.paper_published,.paper_updated {
    font-size: 0.5em;
    margin: 0;
    /* position: absolute; */
    position: relative;
    right: 5px;
    bottom:10px;
}