.showContentField {
    border:2px dashed var(--color-hgamma);
    background-color: var(--color-hgamma-tp);
}
.ContentField {
    border:2px solid var(--color-hgamma);
    background-color: var(--color-hgamma-tp);
}

.ContentField_title {
    
}

.ContentField_mainText {

}